<%= form_for :session, html: {class: 'form-sign-in'}, url: session_path do |form| %>
  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email', autofocus: 'true', placeholder: 'Enter your email' %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: 'Enter your password for Pariyatti' %>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>

  <div class="other-links">
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>