<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :card_type, value: "overlay_inspiration" %>
    <%= form.hidden_field :bookmarkable, value: true %>
    <%= form.hidden_field :shareable, value: true %>
  </div>

  <div class="field">
    <% if card.image_url %>
      <h2>Image (if you want to edit the image, please delete and re-create this card):</h2>
       <%= image_tag(card.image_url, size: '128') %>
       <%= form.hidden_field :image_filename, value: card.image %>
    <% else %>
      <h2>This card has no image.</h2>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div class="field">
    <%= form.label :text_color %>
    <%= form.text_field :text_color %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
