
<div class="card">
  <div class="header"><%= card.header || "DEFAULT HEADER" %></div>
  <div class="overlay-image" style="background-image:url(<%= card.image_url %>)">
    <div class="overlay-text" style="color: <%= card.text_color %>">
      <%= card.text.truncate(280) %>
    </div>
  </div>
  <div class="footer">
    <% if card.bookmarkable %>
      <div class="button">Bookmarkable</div>
    <% end %>
    <% if card.shareable %>
      <div class="button">Shareable</div>
    <% end %>
  </div>
</div>

<div>
Text Color: <%= card.text_color %>
</div>

<div class="meta">
  <%= render 'cards/publish_toggle', card: card %>
</div>
