<p id="notice"><%= notice %></p>

<div class="page-heading">
    <div class="breadcrumb">
        <%= link_to 'Back', publisher_path, class:'link' %>
    </div>
    <div class="header-and-link flex">
        <h1 class="page-header">Overlay Inspiration Cards</h1>
        <%= link_to "Create Overlay Inspriation Card", new_cards_overlay_inspiration_card_path %>
    </div>
</div>

<% @cards.each do |card| %>
  <div class="card-index-content flex">
    <%= render "cards/#{card.type}_cards/show", card: card %>
    <ul class="card-action-links">
      <li class="link card-action-link">
        <%= link_to 'Show', card, class:'show' %>
      </li>
      <li class="link card-action-link">
        <%= link_to 'Edit', card, class:'edit' %>
      </li>
      <li class="link card-action-link">
        <%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' }, class:'destroy' %>
      </li>
    </ul>
  </div>
<% end %>
