<div id="clearance" class="password-reset">
  <div class="page-heading">
    <div class="breadcrumb">
      <%= link_to 'Back', publisher_path, class:'link' %>
    </div>
    <div class="header-and-link">
      <h1 class="page-header">Change password for <%= @user.email %></h1>
      <span class="page-sub-title">The passwod has been reset. Click on 'back' to cancel this change</span>
    </div>
  </div>
  <%= form_for :password_reset, url: user_password_path(@user, token: @user.confirmation_token), html: { method: :put, class: 'form form-centered'} do |form| %>
    <div class="password-field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>
    <div class="submit-field">
      <%= form.submit %>
    </div>
  <% end %>
</div>