<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :card_type, value: "pali_word" %>
  </div>

  <div class="field">
    <%= form.label :pali %>
    <%= form.text_field :pali %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language %>
  </div>

  <div class="field">
    <%= form.label :translation %>
    <%= form.text_field :translation %>
  </div>

  <div class="field">
    <span>
      <%= form.label :bookmarkable %>
      <%= form.check_box :bookmarkable, value: true %>
    </span>
    <span>
      <%= form.label :shareable %>
      <%= form.check_box :shareable, value: true %>
    </span>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
