<p id="notice"><%= notice %></p>

<div class="page-heading">
    <div class="breadcrumb">
        <%= link_to 'Back', publisher_path, class:'link' %>
    </div>
    <div class="header-and-link flex">
        <h1 class="page-header">Pali Cards</h1>
        <%= link_to "Create Pali Word Card", new_cards_pali_word_card_path %>
    </div>
</div>

<% @cards.each do |card| %>
  <div class="card-index-content flex">
    <%= render "cards/#{card.type}_cards/show", card: card %>
    <ul class="card-action-links">
      <li class="card-action-link">
        <%= link_to 'Show', card, class:'show' %>
      </li>
      <li class="card-action-link">
        <%= link_to 'Edit', edit_cards_pali_word_card_path(card), class:'edit' %>
      </li>
      <li class="card-action-link">
        <%= link_to 'Destroy', card, class:'destroy', method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    </ul>
  </div>
<% end %>
