<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<div><%= link_to "Create Stacked Inspriation Card", new_cards_stacked_inspiration_card_path %></div>
<div><%= link_to "Create Overlay Inspriation Card", new_cards_overlay_inspiration_card_path %></div>
<div><%= link_to "Create Pali Word Card", new_cards_pali_word_card_path %></div>

<br/><br/>

<% @cards.each do |card| %>
  <div class="card-index-content">
    <%= render "cards/#{card.type}_cards/show", card: card %>
    <%= link_to 'Show', card %>
    <%= link_to 'Edit', "cards/#{card.type}_cards/#{card.id}/edit" %>
    <%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<br/><br/>

<a href="/">Back to Home</a>
