Links that don't work simply haven't been implemented yet. :)

<h2>Mobile App</h2>

Use the links below to create and publish content to the Pariyatti mobile app.

<div><%= link_to "Manage Cards", cards_path %></div>
<div>Pages</div>

<h2>Library Assets</h2>

<h3>Documents:</h3>
<div>(book, essay, article, transcripts, excerpt, quote)</div>
<div><%= link_to "Excerpts", excerpts_path %></div>

<h3>Media:</h3>
<div><%= link_to "Images", image_assets_path %></div>
<div>Audio</div>
<div>Videos</div>

<h2>Metadata: Concrete</h2>

<div><a href="<%= url_for(action: 'index', controller: 'authors') %>">Authors</a></div>
<div>Locations</div>

<h2>Metadata: Abstract</h2>

<div><%= link_to "Audiences", audiences_path %></div>
<div><%= link_to "Topics", topics_path %></div>
<div>Collections</div>

<h2>Test the APIs (for developers)</h2>

<div><a href="/api/today.json">/api/today.json</a></div>
<div><a href="/api/topics.json">/api/topics.json</a></div>
