Links that don't work simply haven't been implemented yet. :)

<h2>Mobile App</h2>

Use the links below to create and publish content to the Pariyatti mobile app.

<div><a href="<%= url_for(action: 'index', controller: 'cards') %>">Cards</a></div>
<div>Pages</div>

<h2>Library Assets</h2>

<h3>Documents:</h3>
<div>(book, essay, article, transcripts, excerpt, quote)</div>
<div><a href="<%= url_for(action: 'index', controller: 'excerpts') %>">Excerpts</a></div>

<h3>Media:</h3>
<div>Images</div>
<div>Audio</div>
<div>Videos</div>

<h2>Metadata: Concrete</h2>

<div><a href="<%= url_for(action: 'index', controller: 'authors') %>">Authors</a></div>
<div>Locations</div>

<h2>Metadata: Abstract</h2>

<div><a href="<%= url_for(action: 'index', controller: 'audiences') %>">Audiences</a></div>
<div><a href="<%= url_for(action: 'index', controller: 'topics') %>">Topics</a></div>
<div>Collections</div>

<h2>Test the APIs (for developers)</h2>

<div><a href="/api/today.json">/api/today.json</a></div>
<div><a href="/api/topics.json">/api/topics.json</a></div>
