<!DOCTYPE html>
<html>
  <head>
    <title>Pariyatti Library</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-container">
      <header class="header">
        <div class="header-logo">
          <%= link_to image_tag("pariyatti-logo-256-solid.png", size: '64'), root_path %>
          <span>Pariyatti <span>Publisher</span></span>
        </div>
        <div class="header-user">
          <% if signed_in? %>
            <div class="user-email"><%= current_user.email %></div>
            <div><%= link_to "Change Password", edit_user_password_path(current_user), data: { confirm: 'Are you sure?' } %></div>
            <div><%= button_to "Sign out", sign_out_path, method: :delete %></div>
          <% else %>
            <div>
              <%= link_to "Sign in", sign_in_path, :class => 'link' %>
            </div>
          <% end %>
        </div>
      </header>
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
